.vs
aitest
packages
thrift
controller/Saves
patch/Libs
patch/bin
patch/obj
patch/gen-csharp
debugpatch/bin
debugpatch/obj
.packages/
obj/
bin/
artifacts/
**/bin/
**/obj/
**/.vs/
**/__pycache__/
*.pyc
*.exp
*.lib
*.obj
headless/bin/
headless/obj/
controller/gen-netstd/
