@page "/capture_map"
@using ChartJs.Blazor.Charts
@using ChartJs.Blazor.ChartJS.PieChart
@using ChartJs.Blazor.ChartJS.Common.Properties
@using ChartJs.Blazor.Util

<h1>Capture Map</h1>

<ChartJsScatterChart @ref="_scatter" Config="@_config" Width="600" Height="600"/>