@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

.top-row {
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.main {
    flex: 1;
}

    .main .top-row {
        background-color: #f7f7f7;
        border-bottom: 1px solid #d6d5d5;
        justify-content: flex-end;
    }

        .main .top-row > a, .main .top-row .btn-link {
            white-space: nowrap;
            margin-left: 1.5rem;
        }

.main .top-row a:first-child {
    overflow: hidden;
    text-overflow: ellipsis;
}

.sidebar {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

    .sidebar .top-row {
        background-color: rgba(0,0,0,0.4);
    }

    .sidebar .navbar-brand {
        font-size: 1.1rem;
    }

    .sidebar .oi {
        width: 2rem;
        font-size: 1.1rem;
        vertical-align: text-top;
        top: -2px;
    }

    .sidebar .nav-item {
        font-size: 0.9rem;
        padding-bottom: 0.5rem;
    }

        .sidebar .nav-item:first-of-type {
            padding-top: 1rem;
        }

        .sidebar .nav-item:last-of-type {
            padding-bottom: 1rem;
        }

        .sidebar .nav-item a {
            color: #d7d7d7;
            border-radius: 4px;
            height: 3rem;
            display: flex;
            align-items: center;
            line-height: 3rem;
        }

            .sidebar .nav-item a.active {
                background-color: rgba(255,255,255,0.25);
                color: white;
            }

            .sidebar .nav-item a:hover {
                background-color: rgba(255,255,255,0.1);
                color: white;
            }

.content {
    padding-top: 1.1rem;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

@media (max-width: 767.98px) {
    .main .top-row:not(.auth) {
        display: none;
    }

    .main .top-row.auth {
        justify-content: space-between;
    }

    .main .top-row a, .main .top-row .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 768px) {
    app {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .main .top-row {
        position: sticky;
        top: 0;
    }

    .main > div {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }

    .navbar-toggler {
        display: none;
    }

    .sidebar .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}


.map-capture-point {
    position: absolute;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: orange;
}

.entity-box {
    padding: 5px;
    display: flex;
    border: 1px solid gray;
    align-items: flex-start;
}

.entity-title {
    width: 50px;
    background-color: rgb(255, 233, 161);
}

.entity-data-list {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.entity-data {
    display: flex;
    align-items: top;
    border: 1px solid rgb(187, 187, 187);
}

.entity-data:not(:first) {
    margin-top: 5px;
}

.entity-key {
    width: 200px;
    background-color: rgb(181, 255, 255);
}

.entity-value {
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    white-space: pre;
}

.entity-drawing-anchor {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 1;
    flex-grow: 0;
    width: 0;
    height: 0;
}

.entity-drawing-holder {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.level-visualization {
    position: relative;
}

.schedule-container {
    position: relative;
}

.schedule-background {
    position: absolute;
    top: 50px;
    width: 100%;
    background-color: rgb(9, 92, 160);
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.timeline-rift {
    background-color: rgb(106, 183, 255);
}

.schedule {
    position: relative;
    display: flex;
    flex-direction: row;
    left: 30px;
}

.chef-column {
    width: 200px;
    display: flex;
    flex-direction: column;
}

.chef-column-selected {
    background-color: rgba(255, 217, 146, 0.267);
}

.chef-column-title{
    font-weight: bold;
    align-self: center;
    height: 50px;
}

.chef-column-contents {
    display: flex;
    align-items: stretch;
    flex-direction: column;
}

.one-action {
    color: #aaa;
    border: 1px solid gray;
    border-radius: 6px;
    background-color: #eeeeee;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 12px;
    margin-left: 10px;
    display: flex;
}

.schedule-selecting .one-action {
    opacity: 0.5;
}

.one-action:hover,
.schedule-selecting .one-action:hover {
    opacity: 1;
    background-color: rgb(203, 203, 255);
    border-color: rgb(0, 0, 0);
}

.unstarted-action {
    color: black;
}

.active-action {
    color: red;
}

.one-action-drawing {
    position: absolute;
    font-size: 8px;
    text-align: center;
    width: 20px;
}


.one-action-type-GotoAction {
    background-color: rgb(255, 252, 235);
    border: 1px solid rgb(255, 231, 127);
}

.one-action-type-InteractAction {
    background-color: rgb(237, 255, 235);
    border: 1px solid rgb(138, 255, 127);
}

.one-action-type-ThrowAction {
    background-color: rgb(235, 241, 255);
    border: 1px solid rgb(127, 157, 255);
}
.one-action-type-WaitForSpawnAction {
    background-color: rgb(255, 235, 254);
    border: 1px solid rgb(255, 127, 255);
}

.one-action-selected {
    background-color: rgb(174, 174, 255);
    border-color: black;
}

.one-action-text {
    flex: 1;
    text-overflow: ellipsis;
}

.one-action-dep {
    margin-right: 2px;
    font-size: 11px;
    border-radius: 4px;
    padding: 1px;
    align-self: flex-start;
    line-height: 8px;
    padding: 2px;
    margin-top: 2px;
    color: white;
}

.one-action-dep-chef-red {
    background-color: red;
}
.one-action-dep-chef-yellow {
    background-color: rgb(224, 202, 0);
}
.one-action-dep-chef-green {
    background-color: green;
}
.one-action-dep-chef-blue {
    background-color: blue;
}

.one-record {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.record-children {
    margin-left: 20px;
}

.record-does-not-exist {
    color: gray;
}

.timeline-line-container {
    position: absolute;
    top: 50px;
    width: 100%;
}

.timeline-line {
    background-color: red;
    position: absolute;
    width: 100%;
    height: 1px;
}

.main-container {
    display: flex;
    align-items: flex-start;
}

.entity-record-renderer {
    position: relative;
    width: 700px;
    height: 700px;
    background: white;
    cursor: crosshair;
}

.schedule-container {
    flex: 1;
    height: 99vh;
    overflow: scroll;
}


.record-vis-anchor {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 1;
    flex-grow: 0;
    width: 0;
    height: 0;
}

.record-vis-holder {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 46px;
    height: 46px;
}


.record-vis {
    font-size: 12px;
    border: 1px solid gray;
    background-color: white;
    overflow: hidden;
    line-height: 14px;
    text-align: center;
    width: 46px;
    height: 46px;
    z-index: 0;

    display: flex;
    justify-content: center;
    flex-direction: column;
}

.record-vis-progress {
    position: absolute;
    top: 15px;
    left: -20px;
    height: 3px;
    width: 40px;
    z-index: 10;
}

.record-vis-interacters {
    position: absolute;
    display: flex;
    flex-direction: row-reverse;
    width: 46px;
    top: -23px;
    left: -23px;
}

.record-vis-interacter {
    margin: 2px;
    width: 6px;
    height: 6px;
    border-radius: 3px;
}

.record-vis-interacter-chef-red {
    background-color: red;
}
.record-vis-interacter-chef-yellow {
    background-color: rgb(224, 202, 0);
}
.record-vis-interacter-chef-green {
    background-color: green;
}
.record-vis-interacter-chef-blue {
    background-color: blue;
}

.record-vis-type- {
    width: 46px;
    height: 46px;
    z-index: 1
}

.record-vis-type-frier {
    width: 36px;
    height: 36px;
    border-radius: 4px;
    background-color: lightyellow;
    z-index: 3;
}

.record-vis-type-mixer {
    width: 36px;
    height: 36px;
    border-radius: 18px;
    background-color: #d6d5d5;
    z-index: 3;
}

.record-vis-type-frier-station {
    width: 46px;
    height: 46px;
    background-color: rgb(255, 218, 149);
    z-index: 2;
}

.record-vis-type-mixer-station {
    width: 46px;
    height: 46px;
    background-color: rgb(200, 200, 255);
    z-index: 2;
}

.record-vis-type-clean-plate-stack {
    display: none;
}

.record-vis-type-dirty-plate {
    display: none;
}

.record-vis-type-dirty-plate-stack {
    border: 2px solid rgb(150, 134, 115);
    background-color: rgb(247, 237, 220);
    width: 36px;
    height: 36px;
    border-radius: 18px;
    z-index: 4;
}

.record-vis-type-chef-red,
.record-vis-type-chef-green,
.record-vis-type-chef-yellow,
.record-vis-type-chef-blue
{
    width: 36px;
    height: 36px;
    border-radius: 18px;
    border: 4px solid;
    background-color: white;
    z-index: 1;
}

.record-vis-type-chef-red {
    border-color: red;
}
.record-vis-type-chef-yellow {
    border-color: rgb(224, 202, 0);
}
.record-vis-type-chef-green {
    border-color: green;
}
.record-vis-type-chef-blue {
    border-color: blue;
}

.record-vis-type-ingredient {
    border: 1px solid orange;
    width: 26px;
    height: 26px;
    border-radius: 13px;
    z-index: 5;
    background-size: contain;
    color: transparent;
}

.record-vis-type-unchopped-ingredient {
    width: 32px;
    height: 32px;
    z-index: 5;
    color: transparent;
    background-color: transparent;
    border: none;
    background-size: contain;
}

.record-vis-type-crate {
    width: 46px;
    height: 46px;
    background-color: rgb(211, 191, 175);
    color: transparent;
    z-index: 2;
    background-size: contain;
}

.record-vis-type-plate {
    border: 2px solid darkgray;
    background-color: white;
    width: 36px;
    height: 36px;
    border-radius: 18px;
    z-index: 4;
}

.record-vis-type-unknown {
    color: white;
}

.record-vis-ingredient-container {
    position: absolute;
    top: -36px;
    left: -25px;
    height: 20px;
    width: 50px;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.record-vis-ingredient {
    width: 16px;
    height: 16px;
    color: transparent;
    text-align: center;
    background-size: contain;
}


.record-vis-ingredient-16620 {
    background-image: url('../images/egg_Icon-resources.assets-353.png');
}
.record-vis-ingredient-18448 {
    background-image: url('../images/Flour_Icon-resources.assets-512.png');
}
.record-vis-ingredient-129618 {
    background-image: url('../images/Strawberry_Icon-resources.assets-217.png');
}
.record-vis-ingredient-22804 {
    background-image: url('../images/chocolate_Icon-resources.assets-504.png');
}
.record-vis-ingredient-19670 {
    background-image: url('../images/honeycomb_Icon-resources.assets-248.png');
}
.record-vis-ingredient-83234 {
    background-image: url('../images/Blueberry_Icon-resources.assets-588.png');
}
.record-vis-ingredient-109880 {
    background-image: url('../images/Potato_Icon-resources.assets-532.png');
}
.record-vis-ingredient-17708 {
    background-image: url('../images/Carrot_Icon-resources.assets-312.png');
}
.record-vis-ingredient-112986 {
    background-image: url('../images/Broccoli_Icon-resources.assets-496.png');
}
.record-vis-ingredient-54456 {
    background-image: url('../images/BeefJoint_Icon-resources.assets-376.png');
}
.record-vis-ingredient-32308 {
    background-image: url('../images/Chicken_Icon-resources.assets-235.png');
}


.record-vis-plate-respawn-timers {
    position: absolute;
    top: -36px;
    left: -25px;
    height: 20px;
    width: 50px;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}
.record-vis-plate-respawn-timer {
    width: 16px;
    height: 16px;
    text-align: center;
    background-size: contain;
    border: 1px solid blue;
}

.chef-input-vis {
    display: flex;
    align-items: center;
}

.input-axis-vis {
    width: 40px;
    height: 40px;
    border: 1px solid gray;
    border-radius: 50%;
    position: relative;
}

.input-axis-dot {
    position: absolute;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: black;
    margin-left: -1.5px;
    margin-top: -1.5px;
}

.input-button-vis {
    box-sizing: content-box;
    width: 36px;
    height: 24px;
    text-align: center;
    line-height: 24px;
    border-radius: 6px;
    background-color: rgb(189, 189, 189);
    border: 1px solid gray;
    margin: 2px;
    margin-left: 22px;
}

.input-button-vis-down {
    background-color: rgb(172, 172, 255);
    border: 1px solid blue;
}

.input-button-vis-just-pressed {
    border: 3px solid red;
    margin: 0;
    margin-left: 20px;
}
.input-button-vis-just-released {
    border: 3px solid gray;
    margin: 0;
    margin-left: 20px;
}


.action-insertion-prompt {
    border-radius: 6px;
    background-color: white;
    width: 180px;
    border: 1px solid gray;
    font-size: 12px;
    margin-left: 10px;
}

.action-insertion-prompt-selected {
    border-radius: 6px;
    background-color: yellow;
    width: 180px;
    border: 1px solid gray;
    font-size: 12px;
    margin-left: 10px;
}

.schedule-selecting .action-insertion-prompt {
    display: none;
}

.action-editor {
    width: 200px;
    margin: 10px;
}

.action-editor-title {
    font-size: 16px;
    font-weight: bold;
}

.action-editor-dep {
    display: flex;
    align-items: center;
    border: 1px solid gray;
    border-radius: 8px;
    padding: 5px;
    margin:4px;
}

.action-editor-dep-title {
    flex: 1;
}

.action-editor-dep-chef-red,
.action-editor-dep-chef-yellow,
.action-editor-dep-chef-green,
.action-editor-dep-chef-blue {
    width: 12px;
    height: 12px;
    border-radius: 6px;
    margin: 4px;
    margin-right: 8px;
}

.action-editor-dep-chef-red {
    background-color: red;
}
.action-editor-dep-chef-yellow {
    background-color: rgb(224, 202, 0);
}
.action-editor-dep-chef-green {
    background-color: green;
}
.action-editor-dep-chef-blue {
    background-color: blue;
}

.action-editor-dep-delete {
    border: none;
    border-radius: 4px;
}

.control-row {
    display: flex;
    margin-top: 10px;
}

.mdc-linear-progress__bar {
    transition: none !important;
}

.analysis-row {
    background-color: rgb(248, 248, 248);
    position: relative;
    box-sizing: border-box;
}

.analysis-block {
    position: absolute;
    top: 5px;
    height: 30px;
    border: 1px solid rgb(255, 202, 104);
    background: rgb(255, 252, 244);
    display: flex;
    align-items: stretch;
    flex-direction: row;
    box-sizing: border-box;
}

.analysis-range {

    box-sizing: border-box;
}

.analysis-range-kind-10000 {
    background: rgb(255, 252, 244);
}

.analysis-range-kind-10001 {
    background: rgb(215, 247, 255);
}

.analysis-range-kind-10002 {
    background: rgb(163, 237, 255);
}

.analysis-range-kind-10003 {
    background: rgb(123, 229, 255);
}

.analysis-results {
    width: 100%;
}

.analysis-row-container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    height: 40px;
    border: 1px solid rgb(218, 218, 218);
    box-sizing: border-box;
}

.analysis-row-container:not(:last-child) {
    border-bottom: none;
}

.analysis-row-header {
    width: 100px;
    border-right: 1px solid rgb(218, 218, 218);
    box-sizing: border-box;
}

.analysis-row {
    flex: 1;
    box-sizing: border-box;
}

.right-side-content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.right-top-content {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex: 1;
}

.right-bottom-content {
    max-height: 500px;
}